[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==4.0"
crispy-bootstrap5 = "*"
celery = "*"
django-ckeditor = "*"
django-crispy-forms = "*"
django-environ = "==0.8.1"
gunicorn = "==20.1.0"
django-hitcount = "==1.3.5"
djangorestframework = "*"
pillow = "*"
psycopg2-binary = "*"
psycopg2 = "*"
whitenoise = "*"

[dev-packages]

[requires]
python_version = "3.11"
