/*Footer section*/

.footer-section {
  background: #021017;
  padding: 50px 0px;
  position: relative;
  margin-top: 6.25rem;
}

.footer-logo img {
  width: 128px;
  height: 128px;
  border-radius: 50%;
}

.footer-logo {
  text-align: center;
}

.footer-navigation {
  display: inline-block;
  padding: 0.63rem;
  position: absolute;
  left: 32%;
}

.footer-navigation__item {
  display: inline-block;
  padding: 0px 10px;
}
.footer-navigation__item a {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 0.75rem;
  font-weight: 500;
}

.footer-section__social-networks {
	margin-top: 70px;
	margin-bottom: 30px;
	text-align: center;
}

.footer-section__social-networks a {
  width: 45px;
  height: 45px;
  line-height: 45px;
  border-radius: 50%;
  background-color: white;
  display: inline-block;
  margin-right: 1rem;
  color: #05364d;
  font-size: 16px;
}

.footer-section__social-networks a:hover {
  color:  #1c44e4;
}

.footer-summary {
  color: white;
  text-align: center;
  margin-top: 3.12px;
  color: #797979;
  font-size: 0.87rem;
  font-weight: 400;
  margin-bottom: 1.25rem;
}