/* Core styles */
body {
  margin: 0;
  font-family: "Lato", "Helvetica Neue", "Helvetica", sans-serif;
  
}

.container {
  width: 1140px;
  margin: 0 auto;
}

.section-subtitle {
  letter-spacing: 2px;
  font-size: 0.87rem;
  font-weight: 500;
  margin-bottom: 0.63rem;
  color: #797979;
  text-transform: uppercase;
}

.section-title {
  margin-top: 0.31rem;
  text-transform: capitalize;
  color: #05364d;
  font-size: 2.52rem;
  line-height: 52px;
  font-weight: 700;
}

.blur-line {
  display: inline-block;
  width: 80px;
  height: 4px;
  margin-left: 0.31rem;
  background-color: rgba(237,35,159,0.6);
  filter: blur(4px);
  border-radius: 4px;
  position: relative;
  top: -2;
}


.button {
  background: linear-gradient(to right, #1345e6 0%, #ed239f 51%, #1345e6 100%);
  background-size: 200% auto;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 0.87rem;
  font-weight: 500;
  padding: 1.25rem 2.5rem;
  color: white;
}

.button:hover {
  background-position: right center;
  color: #fff;
}

.clear-fix {
  clear: both;
}

.block-content {
  padding: 6.25rem 1.25rem;
}

input[type=text], 
input[type=number], 
input[type=search], 
input[type=email], 
input[type=number], 
input[type=password], 
textarea {
  background: #FFFFFF;
  border-radius: 3px;
  border: #DCD6CC 1px solid;
  color: #333333;
  font-family: "Lato", "Helvetica Neue", "Helvetica", sans-serif;
  resize: none;
  padding: 5px;
  width: 250px;
}

input[type=text], 
input[type=number], 
input[type=search], 
input[type=email], 
input[type=number], 
input[type=password], 
textarea {
  box-shadow: 0 0 4px rgba(185,173,153,0.5);
  border-color: #B9AD99;
  outline: 0px;
}

.fa-brands {
  position: relative;
  top: 12px;
  font-size: 20px;
}

.profile_pic{
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.book-pic{
  width: 220px;
  height: 300px;
}

.small-book-cover {
  width: 64px;
}


.form{
  width: 30%;
  margin-left: 450px;
}

.comment-pic{
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

/* Header  */

.main-header {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #F4F1EA;
  width: 100%;
  box-shadow: 0px 3px 16px 0px rgb(0 0 0 / 10%);
  z-index: 10;
}

.main-header__brand {
  display: inline-block;
  order: initial;
  background: url(/assets/layout/header/goodreads_logo.svg) no-repeat;
  background-position: center;
  background-size: 140px 30px;
  margin: 0 1rem 0.91rem;
  width: 140px;
}   

.main-navigation {  
  display: inline-block;
  vertical-align: middle;
}


.main-navigation__item {
  display: inline-block;
  padding: 0 0.63rem;
  vertical-align: middle;
}

.main-navigation__item-form {
  text-align: center;
  vertical-align: middle;
}

.main-navigation__item a {
  display: inline-block;
  color: #382110;
  line-height: 2.5rem;
  font-family: "Lato", "Helvetica Neue", "Helvetica", sans-serif;
  font-size: 1rem;
  text-decoration: none;
  padding: 0 1rem;
}

.main-navigation__item a:hover {
  color: #FFFFFF;
  background-color: #382110;
}

.dashbord-menu {
  position: relative;
  display: inline-block;
}

.dashbord-menu__items {
  list-style: none;
}