/* Core styles */
body {
  font-family: 'Roboto' sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0px;
}

.container {
  width: 1140px;
  margin: 0 auto;
}

.to-uppercase {
  text-transform: uppercase;
}

.section-subtitle {
  letter-spacing: 2px;
  font-size: 0.87rem;
  font-weight: 500;
  margin-bottom: 0.63rem;
  color: #797979;
  text-transform: uppercase;
}

.section-title {
  margin-top: 0.31rem;
  text-transform: capitalize;
  color: #05364d;
  font-size: 2.52rem;
  line-height: 52px;
  font-weight: 700;
}

.blur-line {
  display: inline-block;
  width: 80px;
  height: 4px;
  margin-left: 0.31rem;
  background-color: rgba(237,35,159,0.6);
  filter: blur(4px);
  border-radius: 4px;
  position: relative;
  top: -2;
}


.button {
  background: linear-gradient(to right, #1345e6 0%, #ed239f 51%, #1345e6 100%);
  background-size: 200% auto;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 0.87rem;
  font-weight: 500;
  padding: 1.25rem 2.5rem;
  color: white;
}

input[type=text],
input[type=file],
input[type=number],
input[type=search], 
input[type=email], 
input[type=number], 
input[type=password], 
textarea,
.input-group {
  background: #FFFFFF;
  border-radius: 3px;
  border: #DCD6CC 1px solid;
  color: #333333;
  font-family: "Lato", "Helvetica Neue", "Helvetica", sans-serif;
  resize: none;
  width: 400px;
  padding: 5px;
}

input[type=text]:focus,
input[type=number]:focus,
input[type=search]:focus, 
input[type=email]:focus, 
input[type=number]:focus, 
input[type=password]:focus, 
textarea:focus {
  box-shadow: 0 0 4px rgba(185,173,153,0.5);
  border-color: #B9AD99;
  outline: 0px;
}

.button:hover {
  background-position: right center;
  color: #fff;
}

.clear-fix {
  clear: both;
}

.block-content {
  padding: 6.25rem 1.25rem;
}

.fa-brands {
  position: relative;
  top: 12px;
  font-size: 20px;
}

.profile_pic{
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.book-pic{
  width: 220px;
  height: 300px;
}

.small-book-cover {
  width: 64px;
  /* height: 100px; */
}

.comment-pic{
  display: inline-block;
  height: 30px;
  width: 30px;
  border-radius: 50%;
}

/* Header */

.main-header .container {
  display: flex;
  align-items: center;
}

.main-header {
  height: 80px;
  position: fixed;
  width: 100%;
  background: #F4F1EA;
  pointer-events: auto;
  box-shadow: 0 1px 2px rgba(0,0,0,0.15);
  z-index: 10;
}

.main-header__brand {
  display: inline-block;
  height: 50px;
  order: initial;
  background: url(https://s.gr-assets.com/assets/layout/header/goodreads_logo.svg) no-repeat;
  background-position: center;
  background-size: 140px 30px;
  margin: 0 16px 0 15px;
  width: 140px; 
}

.main-header__brand img{
  width: 64px;
  border-radius: 50px;
}

.main-navigation {
  display: inline-block;
  vertical-align: middle;
}


.main-navigation__item {
  display: inline-block;
  padding: 0.63rem;
}

.main-navigation__item a {
  display: inline-block;
  color: #382110;
  text-transform: capitalize;
  font-family: "Lato", "Helvetica Neue", "Helvetica", sans-serif;
  font-size: 16px;
  line-height: 50px;
  padding: 0 10px;
  text-decoration: none;
}

.main-navigation__item a:hover {
  color: #FFFFFF;
  background-color: #382110;
}

.main-navigation__item.active a {
  color: #cfb6df;
}

.dashbord-menu {
  position: relative;
  
  display: inline-block;
  padding: 0.63rem;
}

.dashbord-menu ul {
  list-style: none;
}

/* Footer section */

.footer {
  background: #f9f8f4;
  padding-bottom: 32px;
  padding-top: 32px;
  margin-top: auto;
  margin-bottom: 0;
}

.footer-navigation {
  display: flex;
}

.footer-navigation > div {
  margin-right: 20px;
  padding: 10px;
}

.footer-navigation__heading {
  color: #333333;
  font-family: "Lato", "Helvetica Neue", "Helvetica", sans-serif;
  font-size: 14px;
  font-weight: bold;
  line-height: 1.15;
  text-transform: uppercase;
  margin-bottom: 8px;
  margin-top: 0;
  padding-left: 30px;
}

.footer-navigation__items {
  font-size: 14px;
  list-style: none;
  margin-bottom: 32px;
  margin-top: 0;
}

.footer-navigation__item a {
  font-size: 0.87rem;
  color: #382110;
  text-decoration: none;
  margin-left: 0;
}

.socials {
  /* padding: 5px 0; */
  margin-left: 1.5rem;
}

.socials i {
  color: #00635d;
  font-size: 1.5rem;

}